<div class="jumbotron">
	<h1>Welcome to my app!</h1>
	<% if user_signed_in? %>
	<P>Welcome to the inside of the application</p>
	<% else %>
		<p>
				<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
				<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>	
	<% end %>
	<p>This app was created using <a href="http://onemonthrails.com" target="_blank">One Month Rails</a></p>
</div>